/* Skills Section */

.skills ul > li > div > * {
	display:inline-block;
}


.skills ul > li > div > h5 {
	color:#AAF;
}

.skills ul.carousel > * {
	display:inline-block;
}
.skills ul.carousel > li > h4 {
	font-size:0.8em;
}
.skills ul.carousel > li {
	width:270px;
	text-align:center;
}

.skills table {
	padding:20px;
	border: solid 1px #888;
}

.skills table tr td:last-child {
	text-align: right;
}

.skills table tr td:first-child{
	color:#AAF;
}